body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image: url('img/sustentavel.jpg'); /* Substitua pelo caminho da sua imagem */
    background-size: cover;
}

#quiz-container {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    width: 500px; /* Defina a largura desejada */
}

h1 {
    text-align: center;
}

button {
    display: block;
    margin: 20px auto;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
}

button:hover {
    background-color: #4caf50;
    color: #fff;
}

#result {
    text-align: center;
    font-weight: bold;
}

h1 {
    text-align: center;
    color: rgb(61, 170, 61); /* Cor verde */
}


